#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.es::after{
  font-weight: 900;
  font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  content: 'ES';
  bottom: 45%;
  text-shadow: 0.5px 0.5px #000;
  right: 20%;
  font-size: 10px;
  color: #ffaa00;
  will-change: filter;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.redux:hover {
  filter: drop-shadow(0 0 2em #7061fbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
